.bottomslide,.cmsback,.css3menu1,.hzmarquee,.left,.up{display:none!important}.contentmain1{width:90%!important;height:100%!important;overflow:hidden!important;color:#000!important}.contentmain1 a{color:#007f00!important}
.slideshow-captions{font-size:80%; color:#000000 !important;opacity:1;}
.footerspan_visitors,.footerspan,.text12{font-size:110%;}
.footer-box-title{font-size:70%; height:25px; width:auto; padding:8px 0px 10px 0px;}
.slideshow a img{float:left; display:block; position:relative !important;}
a,p,div,ul li,span{ color:#000000 !important;}
/* logo printing */
#hzline{display:block; height:2px;}
#hzlinebtm{display:block; height:2px}
#footer-site-logo{display:none;}
#printheader{display:block;}
#header{display:none;}
.ashoklogo{float:left; width:9%; height:101px; padding-left:15px;}
.departmenttitle{float:left;width:85%;}
.govofin{width:98%; float:left;padding-top:10px;padding-left:10px; font-size:18px; font-weight:bold;}
.mohfw{width:98%; float:left; padding-left:10px; font-size:26px;font-weight:bold;}
.departofmohfw{width:98%; float:left;padding-left:10px;font-size:18px;font-weight:bold;}
#slide-1{display:none !important;}
.footerspan,.footerspan_visitors{font-size:100% !important;}
.big-wrapper{width:100%;}
.right{width:21%;}
.leftbar{ width:21%;}
.contentmain{ width:56%;}
.slideshow-images,.slideshow,.slideshow-captions{ width:100% !important;}
.divmain img{ width:100% !important; left:0 !important;}
.newsmarqueemain{font-size:12px !important;}
.news a{ font-size:12px !important;}
#nav li a{font-size:65% !important;}
.slideshow-captions{  overflow:visible; overflow-x:hidden;overflow-y:hidden; position:relative; bottom: -10px;  left: -12px; position: relative; float:left; height:auto;}
.footer{margin-top:25px; float:left;}